<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mudah Application Automation Test Suite">


	<test name="Private User Registration Test Cases">
		<classes>
			<class name="com.mudah.tests.PrivateRegistration"></class>


		</classes>
	</test>
</suite>